* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    z-index: 2;
}

.brand-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.brand-right {
    margin-right: 6rem;
}

.brand-container .brand-icon {
    display: none;
}

.brand-container {
    display: flex;
    margin: .75rem;
    margin-left: 6rem;
    align-items: center;
}

.brand-title {
    font-size: 1.7rem;
    padding-left: .75rem;
    text-decoration: none;
    letter-spacing: 0.008rem;
    font-weight: 400;
    color: #fff;
    transition: opacity 0.5s;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
    padding: .20rem 1rem;
}

.navbar-links li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
    transition: opacity 0.5s;
}

.navbar-links li a:hover, .brand-title:hover {
    opacity: 0.7;
}

.navbar-links .home, .navbar-links .nav-icon{
    display: none;
    color: #fff;
}

.navbar-links li::after {
    content: '';
    width: 0%;
    height: .25rem;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navbar-links li:hover::after, .navbar-links li.active::after {
    width: 100%;
}

nav.scrolled {
    position: fixed;
    background: rgba(0,0,0,.8);
    backdrop-filter: blur(2rem);
}

.hamburger-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.hamburger-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all .3s ease-in-out;
}

nav.active .hamburger-button .bar:nth-child(2) {
    opacity: 0;
}

nav.active .hamburger-button .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

nav.active .hamburger-button .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

nav.active .hamburger-button .top {
    transform: rotate(45deg) translate(13px, 0px);
}

nav.active .hamburger-button .bot {
    transform: rotate(-45deg) translate(13px, 0px);
}

#landing{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../images/landing.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center; 
}

#landing .text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}

#landing .title{
    font-size: 5.6rem;
    line-height: 1;
    letter-spacing: -0.005rem;
}

#landing .sub-title {
    font-size: 2.6rem;
    margin-top: 0.6rem;
    letter-spacing: 0.008rem;
    font-weight: 400;
}

#about .heading{
    font-size: 2rem;
    padding-top: 5rem;
    letter-spacing: 0.008rem;
    font-weight: 400;
}

#about,#project,#contact {
    height: 100vh;
    text-align: center;
}

#about {
    width: 80%;
    margin: auto;
}

@media (max-width: 768px) {
    .hamburger-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        height: 3.5rem;
        transition: background-color .36s cubic-bezier(0.32, 0.08, 0.24, 1),
                    height 0.56s cubic-bezier(0.32, 0.08, 0.24, 1);
    
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        padding: 0rem 5rem;
        margin-top: 3rem;
        border-top: 2px solid rgba(255,255,255,0.1);
    }

    .navbar-links li {
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 2px solid rgba(255,255,255,0.1);
    }

    .navbar-links li:nth-child(4) {
        border-bottom: none;
    }

    nav.active .navbar-links {
        animation: fadeIn 1s ease-in;
    }

    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    .navbar-links li a {
        width: 100%;
        padding: 1.5rem 1rem;
    }

    nav.active{
        height: 100%;
        background-color: #000;
    }

    nav.active .navbar-links{
        display: flex;
    }

    html.active {
        overflow:hidden;
        scroll-behavior: auto;
    }
    
    .brand-icon {
        display: none;
    }

    .brand-container .brand-icon{
        display: flex;
        margin: 0;
    }

    .navbar-links .home{
        display: flex;
    }

    .navbar-links .nav-icon {
        display: block;
    }
    /*
    .navbar-links li::after {
        position: absolute;
        margin-top: 2rem;
    }

    .navbar-links li:hover::after {
        width: 50%;
    }
    */
    .navbar-links li.active::after, .navbar-links li::after {
        display: none;
    }
}